* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(180deg, #0e1112 0%, #00090e 100%);
  min-height: 100vh;
  margin: 0;
}

.app-container {
  margin: 56px auto;
  min-height: 100vh;
  max-width: 90%;
  width: 1200px;
  display: flex;
  gap: 1rem;
}

.main-content {
  flex-grow: 1;
}
